/* shared style */
body{
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;}
.description{
    color: #3A3A3A;
font-weight: 600;
}
/* variables declare */
:root{
    --bg:#FFF;
    --foot-bg:#0A0826;
}
/* nav section */
nav{
    display: flex;
    gap: 30.8rem;
    margin: 6rem 7.5rem 5rem 7.5rem;


}
.nav-bar>ul{
    display: flex;
    list-style: none;
    gap: 2.1em;
}
.nav-title{
    color: #3A3A3A;
font-size: 1.5rem;
font-weight: 700;
}
.nav-bar>ul>li{
    color: #3A3A3A;
font-weight: 600;
}   
/* journey section */
.journey-content{
   margin-left: 7.5rem;
}
.journey-title{
    color: #3A3A3A;
font-size: 3.25rem;
font-weight: 700;
}
.journey-btn{
    padding: .625rem 1.5rem;
    border-radius: 41px;
background: #E02C6D;
display: inline-flex;
align-items: flex-start;
gap: 8px;
border: none;
align-items: center;
justify-content: center;
color: #FFF;
font-weight: 700;
}
.journey-img{
margin-right: 8.25rem;
background-image: url("./images/Circle\ design.svg");
}
.journey-img>img{
    position: relative;
    top: 2.5rem;
    left: .5rem;
}
.journey-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* sponsors section */
.sponsors{
    display: grid;
   grid-template-columns: repeat(7,1fr);
   margin: 10.3rem;
   border: .0000000000000000002px solid grey;
   padding: 30px;
   align-items: center;
   justify-content: center;
  max-width: 1440px;
max-height: 3306px; 
}
/* collection section */
  .box{
    height: 476px;
    width: 329px;
    border-radius: 5px;
background: #FFF;
box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
padding: 17px 15px;

  }  
  .collection-pic-container{
    display: grid;
grid-template-columns: repeat(3,1fr);
margin-left: 210px;
margin-right: 190px;
gap: 30px;
  }
  #collection-title{
    margin-top: 100px;
    margin-left: 640px;
    margin-right: 570px;
    color: #3A3A3A;
font-size: 28px;
font-weight: 600;
line-height: 70px; /* 250% */
  }
.box img{
    width: 300px;
height: 256px;
}
.box img, h3 ,p{
    margin-left: 15px;
}
.pic-title{
    color:  #18191F;
font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 40px; /* 142.857% */
}
.see-more{
    color: rgba(224, 44, 109, 0.87);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 1200px;
margin-right: 150px;
display: flex;
justify-content: center;
align-items: center;
gap: 8px;
margin-top: 50px;
}


/* responsive for mobiles */
@media screen and (max-width: 576px) {
    nav{
       display: none;
    }
    .nav-for-mobile{
        display: flex;
        align-items: center;
        margin: 41px 0px;
        justify-content: center;
        gap: 42px;
       
    }
    .journey-container{
        flex-direction: column-reverse;
        max-width: 90%;
        justify-content: center;
        align-items: center;
    }
    .journey-img{
        margin-right: 0;
        background-size: cover;
        width: 257px;
        height: 257px;
    }
    .journey-content {
        margin-left: 3rem;
    }
    .journey-img>img{
        height: 190px;
        width: 202px;
    }
    .sponsors{
        grid-template-columns: repeat(4,1fr);
        margin: 42px;
        border: 0;
        gap: 20px;
        
    }
    .logo{
        width: 44.41px;
height: 17.747px;
    }
    .collection-pic-container{
        grid-template-columns: 1fr;
        margin: 0;
        justify-content: center;
        align-items: center;
    }
    #collection-title{
        margin: 0;
    }
    .box{
        width: 95%;
        box-shadow: 0;
    }
.see-more{
    margin: 0;
    margin-top: 15px;
}
  
}
/* jeno nav for mobile big screen e na dekha jai */
@media screen and (min-width: 577px) {
    
    .nav-for-mobile{
        display: none;
    }
}